.menu_top {
	padding-top: 10px;
	padding-bottom: 15px;
}
span.login_on {
	padding:9px 9px 9px 9px;
}
.container {
    padding: 0;
}
.row{
	padding: 0;
	margin: 0;
}
.header {
	padding-bottom: 40px;
}
#home {
	padding-top: 0px;
}
.login_top {
    padding-top: 5px;
}
.slogan {
    display: none;
}
.search{
	padding: 0;
}
input.text_search_top{
	height: 25px;
	width: 60%;
}
.search-top {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
button.btn.btn-success.button-search {
    padding: 4px 10px;
}

.pbox{
	width: 100%;
}
li.bulding_icon, li.company_icon, li.province_icon{
	width: 100%;
}
.industries_left{
	width: 100%;
}
.img.col-md-12.col-xs-6.col-xs-12 {
    width: 100%;
}
.menu_bottom{
	width: 100%;
}
.question_icon {
	width:10%;
}
.question_content {
	width:90%;
}
/*search form*/
.title_listCompany span {
	margin-left: 15px;
	padding: 3px 10px 3px 10px;
	height: 25px;
	width: 40px;
	background: #ffffff;
	color: #fe0002;
}

.logo_top img {
	width:120px;
}
.comment-group,.comment-group-bottom {
	padding-left: 0px;
	padding-right: 0px;
}
.radio5column >li {
	width:100%;
}
.point01-box03-one {
	margin-top: 5px;
}
.point01-box01-one label,.point01-box01-one span {
	width:100%;
	text-align: center;
	padding: 0px;
}
.point01-box01, .point01-box02, .point01-box03 {
	width:100%;
}
.point01-box01-one {
	height: auto !important;
	padding:5px 0;
	text-align:center;
}
.zero-star span::before,.two-star span:before, .three-star span:before, .four-star span:before, .five-star span:before{
	padding:0 !important;
}
.slider04{
	float:none !important;
	margin:0 auto
}
.box01-title span{
	text-align:center;
	display:block;
}

.paging {
	border-bottom: none;
	text-align: right;
}
.paging_number>ul>li>a,.paging_number>ul>li>span {
	padding: 5px 10px 5px 10px;
}
.box01-edit, .point01-box03-header{
	text-align:center;
}
.user-comment {
	margin-left: 0px;
}
/* <!--  khaibn auto compleate--> */
.comment-group {
	margin: 10px 0xp 10px 0px;
}
.title-comment-group {
	text-align: left;
	width:100%;
}
.industry_mymodel {
	width:100%;
	float:left;
}
.btn-model-search {
	margin-left: 10px;
}
#createPopup,#closeModel,.search-model {
	width: 100%;
	margin-top:5px;
}
.number-comment {
	width:100%;
}
.item {
	width:auto;
	text-align: justify;
}
.fourpointfive-star span:before,.four-star span:before,.threepointfive-star span:before,.five-star span:before {
	padding: 0px 5px 0px 0px;
}
.three-star span:before,.twopointfive-star span:before,.two-star span:before,.onepointfive-star span:before {
	padding: 0px 5px 0px 0px;
}
.one-star span:before,.zeropointfive-star span:before,.zero-star span:before {
	padding: 0px 5px 0px 0px;
}
.fa-search {
	right: 6px;
    font-size: 20px;
    top: 6px;
}
.ui-autocomplete {
	width:80%;
}
.contact-introduct span {
	padding-left: 0px;
}
.company-sort,.company-ranklist {
	/* padding-left: 10%;
	width:80%; */
}
.text_search_top {
	border-radius: 1px;
    padding: 0;
}
.detail_company {
	margin-left: 13%;
}
/** end khaibn **/
/**thien**/
.botton-search-middle .fa.fa-search  {
    display: block;
    color: #fff;
    right: 25px;
}
.image_log img {
	width: auto;
	height: auto;
	max-width:100%;
}
.imgSidebar img {
	max-width: 100%;
	width: auto;
	margin:0 auto;
}
.botton-search-middle {
	padding: 7px 0;
	margin-left: -3px;
}
button.botton-search-middle span {
    opacity: 0;
}
.image_log {
	max-witdh: 100%;
	width: auto;
	height: 130px;
}
.row.line_login {
    padding: 10px 0;
    margin: 0 -15px;
}
.right_col img {
	width: auto;
}
.contact-label, .contact-input {
   padding: 0;
   margin: 0;
}
.row.login-group {
    margin-bottom: 10px;
}
.lbcomment {
    margin: 5px -15px;
}
#search1 {
    margin: 10px 0;
}